.cm-im {
    /* border: 1px solid red; */
    border-radius: 100%;
    height: 40px;
    aspect-ratio: 1/1;
    padding: 10px;
    object-fit: cover;
}

.cm-bx {
    /* border: 1px solid red; */
    /* text-align: start; */
    /* display: inline-block; */
    /* margin-top: 10px; */
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.5; */
    /* border: 1px solid red; */
    /* border-bottom: 1px solid white;*/
    /* border-top: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px 0;
}

.cm-us {
    /* border: 1px solid green; */
    font-size: 1rem;
    font-weight: 600;
}

.cm-in {
    outline: none;
    background-color: black;
    border: none;
    padding-left: 10px;
    color: white;
}

.cm-cb {
    font-weight: 100;
    font-size: 0.8rem;
    color: skyblue;
}

.cm-cb:hover {
    color: rgb(9, 144, 198);
    cursor: pointer;

}


.commentBxLike {
    /* background-color: red; */
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.commentLikes {
    margin-right: 10px;
}

.usernameCm {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* font-weight: 500; */
}

.comment {
    font-size: 1.1rem;
    font-weight: 300;
    margin-top: 5px;
    padding-bottom: 5px;
    /* margin-left: 20px; */
    text-align: start;
    /* border: 1px solid red; */
    /* border: 1px solid blue; */
}

.cm-bx button {
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 0.85rem;

}

.replies {
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button.viewMoreReply {
    /* background-color: red; */
    /* cursor: pointer; */
    margin-left: 60px;
    font-size: 0.85rem;

}

.commentUserName {
    text-decoration: none;
    color: white;
}