:root {
    --c7: #3ace30;
    --c8: red;
    --c9: rgb(40, 40, 40);
}

.cr-mcn {
    background-color: var(--c9);
    color: white;
    border-radius: 10px;
}

.cr-f1 {
    font-weight: 600;
    font-size: 1.2rem;

}

.cr-bt1 {


    color: white;
    background-color: var(--c7);
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 8px 30px;
    border-radius: 4px;
    cursor: pointer;


}

.cr-im1 {
    margin: 10px 10px;
    height: 40px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 100%;
    box-sizing: border-box;
    border: 1px solid white;
}

.cr-in1 {
    width: 95%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 50%;
    resize: none;
    color: grey;
    background-color: rgb(40, 40, 40);
    font-size: 1rem;
    font-weight: 100;
    border-radius: 4px;
    padding: 10px;
    margin: 0 8px;
}

.cr-cn1 {
    border-left: 2px solid grey;
}

.cr-in1:focus {
    outline: none;
    color: white;

}

.cr-cr-bt {
    color: white;
    background-color: var(--c7);
    border: none;
    font-size: 0.9rem;
    font-weight: 600;
    padding-block: 8px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;

}

.cr-bk-bt {
    color: white;
    background-color: var(--c8);
    border: none;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 8px 30px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}

.cr-inpt {
    /* border: 1px solid red; */
    width: 35%;
    height: 35px;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3ace30;
}

@media screen and (max-width:1000px) {

    .cr-mcn {
        width: 100%;
        /* background-color: blue; */
        /* background-color: gold; */
        background-color: rgb(28, 28, 28);
        height: 100%;
        margin-top: calc(70px + 6dvh);

    }

    .cr-cnt1 {
        flex-direction: column;
    }

    .cr-cn1 {
        width: 100%;
        box-sizing: border-box;
        border-left: none;
    }

    .cr-im2 {
        width: 100%;
        aspect-ratio: 1/1;
        max-height: 60dvh;
    }

    .cr-cn2 {
        position: absolute;
        top: 6dvh;
        width: 100%;
        background-color: rgb(28, 28, 28);

    }

    .cr-btn-cn {
        justify-content: space-evenly;
        flex-direction: row-reverse;
        box-sizing: border-box;
        padding-top: 20px;

    }

    .cr-cr-bt {
        width: 40%;
    }

    .cr-bk-bt {
        width: 40%;
    }

}