.hl-mbx {
    z-index: 50;
    width: 300px;

    left: 0px;
    top: 0px;

    border: 1px solid red;
    justify-self: left; 
    position: sticky;   

}

@media screen and (max-width:1249px) {
    .hl-mbx{
        display: none;
    }
    .scroll-post{
        width: 100%;
    }
}
