.hm-mb {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;


}

@media screen and (max-width:1249px) {
    .hm-mb {
        justify-content: center;
        width: 80%;
    }
}
@media screen and (max-width:480px) {
    .hm-mb {
        width: 90%;
    }
}