.hl-mbx {
    z-index: 50;
    width: 300px;

    left: 0px;
    top: 10px;

    /* border: 1px solid red; */
    background-color: #fff;
    
    justify-self: left; 
    position: fixed;
    height: 100%;
    z-index: -1;
    /* background-color: red; */


}

@media screen and (max-width:1249px) {
    .hl-mbx{
        display: none;
    }
    .scroll-post{
        width: 100%;
    }
}
.hl-cnt1{
 
    margin-top: 50px;

}
.hl-cnt2{
 
    margin-top: 10px;

}

.hl-dv1{
    font-weight: 500;
    font-size: 1.3rem;
}
.hl-dv2{
 margin-top: 20px;
}
