.navbar {
    width: 100%;
    height: 10dvh;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid white; */
}

.navbar ul {
    margin-right: 40px;
    display: flex;
    gap: 30px;
    list-style: none;
    /* border: 1px solid white; */
}

.navbar ul li {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    /* border: 1px solid white; */
}

.active {
    border-bottom: 2px solid white;
}