.profileDropDown {
    width: 300px;
    height: 47dvh;
    position: absolute;
    /* width: 100%;
    left: 0px; */
    top: 6.3dvh;
    background: rgb(40, 40, 40);
    scroll-behavior: unset;
    /* border: 1px solid white; */
}

.userProfileOption {
    width: 100%;
    height: 20%;
    /* border: 1px solid red; */
    margin-top: 15px;
    /* margin: 10px 0 0 20px; */
    /* padding: 10px 0 0 20px; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background: white; */
    /* border-bottom: 1px solid white; */
    /* color: white; */
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.userProfileOption:hover {
    background-color: #ffffff12;
    border-radius: 5px;
}

.userImage {
    /* background-color: rgb(0, 166, 255); */
    /* display: inline-block; */
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* border: 2px solid black; */
    margin-right: 20px;
    margin-left: 20px;
}

.userImage img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    /* display: none; */
}

.userName {
    width: 60%;
    height: 60px;
    /* border: 1px solid red; */
    line-height: 0.5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
}

.userName h1 {
    font-size: 1.5rem;
    margin: 0;
    /* border: 1px solid green; */
}

.userName p {
    font-size: 1rem;
    margin: 0;
    /* border: 1px solid blue; */
}

.settingOption {
    margin-top: 10px;
    /* border: 1px solid red; */
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.middleButton button {
    /* border: 1px solid green; */
    width: 30%;
    aspect-ratio: 1/1;
    /* background-color: green; */
    background: #ffffff12;
    color: #eff1f6bf;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;

}

.middleButton {
    /* border: 1px solid red; */
    width: 100%;
    height: 77%;
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    /* flex-direction: row-reverse; */

}

.downButton {
    width: 100%;
    height: 23%;
    /* border: 1px solid red; */
    /* margin-top: 5px; */
    margin-bottom: 5px;
    padding: 0 10px 0 10px;
}

.downButton button {
    /* border: 1px solid green; */
    height: 90%;
    width: 100%;
    padding: 5px;
    color: #eff1f6bf;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    border: none;
}

.downButton button:hover {
    background-color: #ffffff12;
    border-radius: 5px;
}

@media screen and (max-width:700px) {
    .profileDropDown {
        position: absolute;
        right: 50px;
    }
}

@media screen and (max-width:480px) {
    .profileDropDown {
        width: 100%;
        height: 100dvh;
        right: 0;
        /* background-color: blue; */
    }

    /* .settingOption button {
        height: 20%;
    } */
}

/* @media screen and (max-width:380px) {
    .profileDropDown {
        position: absolute;
        right: 20px;
    }
} */