.uf-cnt {
    width: 100%;
    display: flex;
    position: relative;
    /* background-color: black; */
    /* color: white; */
}

.uf-f1 {
    font-weight: 750;
    font-size: 1.22rem;
}

.uf-f2 {
    font-weight: 650;
    font-size: 1.06rem;
    width: 100%;
    text-align: left;
}

.uf-f3 {
    font-weight: 480;
    font-size: 1.1rem;
    margin-block: 3px;
}

.uf-pf-im {
    border-radius: 100%;
    width: 180px;
    height: 180px;
    object-fit: cover;
}

.uf-ds {
    text-align: start;
    font-weight: 380;
    font-size: 0.9rem;
    margin-bottom: 3px;
}

.uf-lnk {
    margin-bottom: 3px;
    font-weight: 350;
    font-size: 0.86rem;
    /* color: aquamarine; */
    text-decoration: none;
}

.uf-cn {
    display: flex;
    /* align-items: center; */
    justify-content: left;
    flex-wrap: wrap;
    background-color: var(--cl1);
    /* padding-top: 50px; */
    padding-top: 6.2dvh;
    margin-left: 2px;
    padding-bottom: 300px;

}


.uf-cd {
    width: 33%;
    position: relative;
    aspect-ratio: 1/1;

}

.uf-hover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.674);


}

.uf-cd:hover .uf-hover {
    display: flex;
    cursor: pointer;
    z-index: 2;
}

.uf-im {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 2px;
}

.loader {
    /* border: 5px solid green; */
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Edit-Button {
    border-radius: 4px;
    margin-top: 10px;
    font-size: 0.9em;
    border: none;

    background-color: white;
    color: black;
    font-weight: 550;
    padding: 6px 15px;
    cursor: pointer;
}

.Middle-btn {
    margin-top: 10px;
}

@media screen and (max-width:1000px) {
    .uf-cnt {
        flex-direction: column;
    }

    .userInfoBox {
        /* border: 1px solid red; */
        width: 100%;
        height: 10dvh;
    }
}