body {
  margin: 0;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(220, 220, 220); */
  background-color: rgb(26, 26, 26);
  /* background-color: black; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.myFlex {
  display: flex;
  /* flex-direction: column; */
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexV {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.flexVC {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flexWrap {
  flex-flow: wrap;
}

.flexVert {
  flex-direction: column;
}

.flexAround {
  justify-content: space-around;
}

.flexBw {
  justify-content: space-between;
}

.flexEven {
  justify-content: space-evenly;
}

.justC {
  justify-content: center;
}

.alignC {
  align-items: center;
}

.flexStart {
  align-items: flex-start;
}
.flexEnd {
  align-items: flex-end;
}

.w100 {
  width: 100%;
}

.w90 {
  width: 90%;
}

.w85 {
  width: 85%;
}

.w80 {
  width: 80%;
}

.w70 {
  width: 70%
}

.w65 {
  width: 65%
}

.w60 {
  width: 60%;
}

.w50 {
  width: 50%;
}

.w40 {
  width: 40%;
}

.w35 {
  width: 35%;
}

.w33 {
  width: 33.3%;
}

.w30 {
  width: 30%;
}

.w20 {
  width: 20%;
}

.w15 {
  width: 15%;
}

.w12 {
  width: 12%;
}

.w10 {
  width: 10%;
}

.wAuto {
  width: auto;
}

.h100 {
  height: 100%;
}

.h90 {
  height: 90%;
}

.h85 {
  height: 85%;
}

.h80 {
  height: 80%;
}

.h70 {
  height: 70%;
}

.h60 {
  height: 60%;
}

.h50 {
  height: 50%;
}

.h40 {
  height: 40%;
}

.h33 {
  height: 33.33%;
}

.h30 {
  height: 30%;
}

.h20 {
  height: 20%;
}

.h15 {
  height: 15%;
}

.h12 {
  height: 12%;
}

.h10 {
  height: 10%;
}

.h8 {
  height: 8%;
}

.h5 {
  height: 5%;
}

.gap50 {
  width: 100%;
  height: 50px;
}

.gap100 {
  width: 100%;
  height: 100px;
}

.gap200 {
  width: 100%;
  height: 200px;
}

.gap300 {
  width: 100%;
  height: 300px;
}

.gap400 {
  width: 100%;
  height: 400px;
}

.imgContain {
  object-fit: contain;
}

.imgCover {
  object-fit: cover;
}

.imgFill {
  object-fit: fill;
}

.overHide {
  overflow: hidden;
}

.c1 {
  color: #00a0cb
}

.c2 {
  color: #a0cb
}

.c3 {
  color: white;
}

.bg1 {
  background-color: rgb(230, 234, 228);
}

.bg2 {
  background-color: white;
}

.bg3 {
  background-color: white
}

.bg4 {
  background-color: #cb00cb;
}

/* .bg5{background-color: #3333c3;} */
.bg5 {
  background-color: #07070d;
}

.borderBlack {
  border: 1px solid black;
}

.borderRad10 {
  border-radius: 10px;
}

.br-rd4 {
  border-radius: 4px;
}

.pstatic {
  position: static;
}

.prelative {
  position: relative;
}

.pabsolute {
  position: absolute;
}

.pfixed {
  position: fixed;
}

.imgClass {
  max-width: 100%;
  height: auto;
  object-fit: fill;
}

.imgFull {
  height: 100%;
  width: 100%;
  object-fit: fill;
  /* background-color: red; */
}

.imgCover {
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* background-color: red; */
}

.red {
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.306);
}

.textS {
  text-align: start;
}

.scroll-y {
  overflow-y: scroll;

}